.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 34px;
    font-weight: bold;
  }
  
  .gold-text {
    color: gold;
  }
  
  .white-text {
    color: white;
  }
  
  