.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 20px;
}

.info-card {
  transform-style: preserve-3d;
  position: relative;
  padding: 20px;
  height: 150px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(
    25deg,
    rgb(35, 26, 63) 0%,
    rgba(248, 177, 60, 1) 86%
  );
  transition: all 0.1s ease;
}

.title,
.info-card p {
  width: 100%;
  color: rgb(220, 220, 220);
}

.info-heading {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.info-detail {
  font-size: 16px;
  color: grey;
}

/* Mobile Version */
@media (max-width: 768px) {
  .info-grid {
    grid-template-columns: auto;
  }

  .info-card {  
    width: 80%;
    padding: 10px;
    justify-content: center;
  }

  .info-heading {
    font-size: 18px;
  }

  .info-detail {
    font-size: 14px;
    color: grey;
  }

}

